@import 'bootstrap/bootstrap';

@font-family-sans-serif: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;

@link-hover-decoration: none;
@link-hover-color: lighten(@link-color, 15%);

@navbar-border-radius: 0px;

.table {
  td.shrink {
    white-space: nowrap;
    width: 1px;
  }
}
